*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline:none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color:white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: inset 5px 5px 12px white,
                       5px 5px 12px black;
    display: grid;
    grid-template-columns: repeat(4,70px);  
}
input{
    grid-column: span 4;
    height: 60px;
    background-color:white;
    box-shadow: inset  5px 5px 12px white,
                       5px 5px 12px black;
    border: none;
    border-radius: 30px;
    color:black;
    text-align: end;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
}
button{
    background-color: white;
    border: none;
    box-shadow: 5px 5px 12px white,
                5px 5px 12px black;
    height:38px;
    border-radius: 10px;
    margin: 8px;
}
.eqal{
    width:125px;
    font-size: 40px;
}
.heading{
    color: aliceblue;
    text-shadow: 5px 5px 12px black,
                 5px 5px 12px  black;
    margin-left: 34%;
    font-size:30px ;
}